{% extends 'index.html' %}


{% block main %}
<section id="appointment" class="appointment section-bg ">
    <div class="container">
      <!-- tenemos que modificar todo esto y si es posible hacerlo en una pagina distinta -->
      <div class="section-title">
        <h2>Agenda tu cita</h2>
        <p>Simplifica tu proceso de programación de citas médicas con nuestro sistema de reservas en línea fácil de usar. Ahora puedes asegurar tu cita de manera conveniente y rápida, ahorrando tiempo y evitando demoras.</p>
      </div>

      <form action="/buscar" method="POST" role="form" class="php-email-form">
        <!-- <div class="row">
          <div class="col-md-4 form-group">
            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
            <div class="validate"></div>
          </div>
          <div class="col-md-4 form-group mt-3 mt-md-0">
            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email">
            <div class="validate"></div>
          </div>
          <div class="col-md-4 form-group mt-3 mt-md-0">
            <input type="tel" class="form-control" name="phone" id="phone" placeholder="Your Phone" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
            <div class="validate"></div>
          </div>
        </div> -->
        <div class="row row-style">
          <div class="col-md-4 form-group mt-3 centered-content">
            <input type="date" name="date" class="form-control datepicker" id="date" placeholder="Fecha de la Cita" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
            <div class="validate"></div>
          </div>
          <div class="col-md-4 form-group mt-3">
            <select name="department" id="department" class="form-select">
              <option value="">Seleccionar Departamento</option>
              <option value="Medicina General">Medicina General</option>
              <option value="Pediatria">Pediatria</option>
              <option value="Obstetricia y Ginecologia">Obstetricia y Ginecologia</option>
              <option value="Cardiologia">Cardiologia</option>
              <option value="Dermatologia">Dermatologia</option>
              <option value="Gastroenterologia">Gastroenterologia</option>
              <option value="Neurologia">Neurologia</option>
              <option value="Psiquiatria">Psiquiatria</option>
              <option value="Oftalmologia">Oftalmologia</option>
              <option value="Otorrhttp://127.0.0.1:5000inolaringologia">Otorrinolaringologia</option>
              <option value="Cirugia General">Cirugia General</option>
              <option value="Cirugia Plastica">Cirugia Plastica</option>
              <option value="Urologia">Urologia</option>
              <option value="Nefrologia">Nefrologia</option>
              <option value="Endocrinologia">Endocrinologia</option>
              <option value="Oncologia">Oncologia</option>
              <option value="Radiologia">Radiologia</option>
              <option value="Anestesiologia">Anestesiologia</option>
              <option value="Medicina Interna">Medicina Interna</option>
              <option value="Medicina Familiar y Comunitaria">Medicina Familiar y Comunitaria</option>
            </select>
            <div class="validate"></div>
        </div>
        </div>
        <div class="mb-3">
          <div class="loading">Loading</div>
          <div class="error-message"></div>
          <div class="sent-message">Your appointment request has been sent successfully. Thank you!</div>
        </div>
        <div class="text-center"><button type="submit" id="enviar_busqueda">Ver doctores disponibles</button></div>
      </form>
    </div>
  </section><!-- End Appointment Section -->

{%endblock%}