{%extends 'index.html'%}
{%block hero%}
{%endblock%}
{%block main%}

<!-- <div class="container" style = "margin-top: 150px; margin-bottom: 100px;">
<form id="inicio-sesion-form" class="register" action="/register" method="post">
    <div class="input-container7">
        <h2 class = "inicio">Inicia Sesión</h2>
        <input type="text" placeholder="Ingresa tu dni" name="dni" required>
        <input type="password" placeholder="Ingresa tu contraseña" name="psw" required>
        <button type="submit" class="btn-form">Iniciar Sesión</button>
    </div>
    <div class="container2">
        <span class="psw" id="element">¿No tienes cuenta? <a href="#" id="registro-link">Regístrate aquí</a></span>
    </div>
</form>
</div> -->

<div class="container" style = "margin-top: 150px; margin-bottom: 100px;">
    <form class="register" action="/register" method="post">
        <div class="input-container7">
        <h2 class="inicio">Registro</h2>
        <input class="form-input" type="text" name="nombre" id="nombre" placeholder="Ingresa tu nombre">
        <input class="form-input" type="text" name="apellido" id="apellido" placeholder="Ingresa tu apellido paterno">
        <input class="form-input" type="text" name="apellido_materno" id="apellido_materno" placeholder="Ingresa tu apellido materno">
        <input class="form-input" type="text" name="telefono" id="telefono" placeholder="Ingresa tu número de telefono">
        <input class="form-input" type="text" name="dni" id="dni" placeholder="Ingresa tu DNI">
        <input class="form-input" type="text" name="email" id="email" placeholder="Ingresa tu email">
        <input class="form-input" type="date" name="fecha_nacimiento" id="fecha_nacimiento" placeholder="Ingresa tu fecha de nacimiento">
    <button type="submit" class="btn-form">Registrate</button>
    </form>
</div>

{%endblock%}