{% extends 'index.html' %}

{% block main %}

<h2>Inicia Sesión</h2>
<form id="inicio-sesion-form">
    <div class="input-container7">
        <input type="text" placeholder="Ingresa tu dni" name="dni" required>
        <input type="password" placeholder="Ingresa tu contraseña" name="psw" required>
        <button type="submit">Iniciar Sesión</button>
    </div>
    <div class="container">
        <span class="psw">¿No tienes cuenta? <a href="#" id="registro-link">Regístrate aquí</a></span>
    </div>
</form>

<h2>Registro</h2>
<form id="registro-form" class="hidden">
    <div class="input-container7">
        <input type="text" name="nombre" placeholder="Ingresa tu nombre">
        <input type="text" name="apellido" placeholder="Ingresa tu apellido">
        <input type="text" name="apellido2" placeholder="Ingresa tu segundo apellido">
        <input type="text" name="dni" placeholder="Ingresa tu DNI">
        <input type="date" name="nacimiento" placeholder="Ingresa tu fecha de nacimiento">
        <input type="email" name="email" placeholder="Ingresa tu email">
        <input type="text" name="telefono" placeholder="Ingresa tu teléfono">
        <button type="submit" class="btn" id="registro-btn">Registrarse</button>
    </div>
    <div class="container">
        <span class="psw">¿Ya tienes cuenta? <a href="#" id="inicio-sesion-link">Inicia sesión aquí</a></span>
    </div>
</form>

<script>
    document.getElementById("registro-link").addEventListener("click", function(event) {
        event.preventDefault();
        document.getElementById("inicio-sesion-form").classList.add("hidden");
        document.getElementById("registro-form").classList.remove("hidden");
    });

    document.getElementById("inicio-sesion-link").addEventListener("click", function(event) {
        event.preventDefault();
        document.getElementById("registro-form").classList.add("hidden");
        document.getElementById("inicio-sesion-form").classList.remove("hidden");
    });
</script>

{% endblock %}
