{% extends 'index.html' %}

{% block main %}
<div class="container7">
  <h2>Resultados de búsqueda para {{ resultados[0][6] }}</h2>
  <h3>En la fecha {{ resultados[0][3] }} {{ date }}</h3>
  <table>
    <form action="/confirmacion-cita" method="post">
        <div class="container">
          <select name="doctor" id="select2">
            <option value="">Selecciona el horario de tu preferencia</option>
            {% for resultado in resultados %}
            <option value="{{ loop.index }}">{{ resultado[2] }} {{ resultado[1] }}, {{ resultado[0] }} - {{ resultado[6] }}  -   {{ resultado[4] }}</option>
            {% endfor %}
          </select>
        </div>
      </form> 
  </table>
</div>

{% endblock %}
```